.page {
  &.page-enter {
    opacity: 0.9999;
  }
  &.page-enter-to {
    opacity: 1;
    transition-duration: 2s;
    transition-property: opacity;
  }
  &.page-leave-to {
    pointer-events: none;
    opacity: 0.9999;
    transition-duration: 2s;
    transition-property: opacity;
  }
}